@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');



/*------------------------------
--------------------------------------------------
------INIZIO SCHERMO PICCOLO------------------------------
---------------------------------------*/
@media screen and (max-width: 1023px){

  .pc{opacity:0;}


  /*  ------menu piccolo------------*/

  .topnav {
  position: fixed;
  overflow: hidden;
  background-color: #333;
  top:0%;
  right:0%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  color: white;
  height:1980px;
  width: 66vw;
}

/* Style navigation menu links */
.topnav a {
  position: relative;
  color: white;
  padding: 50px 50px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height:50px;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 10vw;
  top: 0;
  width: 50px;
  height:50px;
}

.icon_menu{
  width: 70px;
  right:0vw;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #333333;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: none!important;
  color: white;
  width:200px;
}

.barra{
font-size: 40pt!important;
font-family: 'Source Sans Pro', sans-serif;';
font-weight: 800;
color:white;
text-align: left;
margin-left: 50px;
margin-top: -20px;
}

.barra:hover{
opacity: 0.5;
transition: 0.2s;
}

.lineetta{
background-color: white;
height: 2px;
width: 400px;
margin-left: 100px;
margin-top: 50px;
}

#lineetta_1{
right:54.5%;
}

#social_barra{
width: 80px;
margin-right: 20px;
margin-top: 50px;
}

#social_barra:hover{
opacity: 0.5;
transition: 0.2s;
}

.social_barra_1{
  margin-left: 80px!important;
  margin-right: 0px!important;
}

    /*  ------fine menu piccolo------------*/


    .griglia_grigio{
    position: absolute;
    width: 100%;
    transform: translate(-50%,0);
    left: 50%;
    height: 1870px;
    background-position: center,center;
    top:50px;
    background-image: url(images/grigio_contatti_phone.png);
    background-color: white;
    animation: opacity 3s;
    }

    .mappa{
      position: absolute;
      width:66vw;
      height: 600px;
      transform: translate(-50%,0);
      left:50%;
      margin-top:100px;
    }


#sopra{
position:fixed;
height: 140px;
width: 100%;
background-color: #333333;
top:0%;
left:0%;
}

#logo_barra{
position:fixed;
width: 300px;
left:10%;
top:50px;
}

#menu{
  position:fixed;
  width: 50px;
  right:10%;
  top:50px;
}



.barra:hover{
opacity: 0.5;
transition: 0.2s;
}







a{text-decoration: inherit!important;
color:inherit!important;}




/* Fine barra dei menù */

/* foto centrale */




@keyframes opacity{
  from{opacity:0;}
  to{opacity: 1;}
}

/*Fine foto centrale */



/*grigli */

.mappa{
  position: absolute;
  width:90vw;
  height: 800px;
  transform: translate(-50%,0);
  left:50%;
  top:220px;
}


.griglia{
  position: absolute;
  width: 100%;
  left: 0%;
  height: 500px;
  background-position: center, center;
}

#griglia1{
  top:100px;
}

#griglia2{
  top:1070px;
  width: 500px;
  transform: translate(-50%,0);
  left:50%;
}


.testo{
  position: absolute;
  top:70px;
  width: 600px;
  left:0%;
  height: 500px;
}

#testo_2{top:400px;}

.loghetti_box{
position: absolute;
top:140px;
width: 20px;
left: -50px;
height: 420px;
}


#loghetto_piccolo_box1{
position: absolute;
width: 25px;
top:0px;
margin-bottom: 22px;
transform: translate(-50%, 0);
left:50%;}

#loghetto_piccolo_box2{
  position: absolute;
  width: 28px;
  top:125px;
  margin-bottom: 22px;
  transform: translate(-50%, 0);
  left:50%;}

  #loghetto_piccolo_box3{
    position: absolute;
    width: 30px;
    top:65px;
    margin-bottom: 22px;
    transform: translate(-50%, 0);
    left:50%;}




/*testo*/

.bold{font-weight: 1000;}

.testo_articolo{
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 28pt;
line-height: 30px;
font-family: 'Source Sans Pro', sans-serif!important;}


/*.destra{
text-align: right;
right: 0%;
}*/

.centro{
text-align: center;
transform: translate(-50%, 0);
left: 50%;
}

.lineetta_testo{
position: absolute;
background-color: white;
top:110px;
height: 5px;
width: 430px;
text-align: center;
transform: translate(-50%, 0);
left: 35%;
}

.lineetta_titolo{
  position: absolute;
  background-color: black;
  top:180px;
  height: 3px;
  width: 330px;
}






/*FONT*/
.white { Color:white;}

.black { Color:black;}

.sfondo_black { background-color:black;}

.source{    font-family: 'Source Sans Pro', sans-serif;    }

.anonymous{
    font-family: 'Anonymous Pro', monospace;}

.titolo_articolo{
margin-top: 30px;
margin-bottom: 5px;
font-weight: 500;
font-size: 40pt;}




.menu_font{
  margin-top: 10px;
  margin-bottom: : 15px;
}

/*footer*/
#footer{
top:1870px;
height: 300px;
background-color: #333333;
}

#testo_footer{
position: absolute;
TOP:70PX;
margin-top: -50px;
}

#loghetti_footer{
position: absolute;
transform: translate(-50%,0);
left:50%;
top: 130px;
width: 150px;
height: 63px;
}

.social_footer{
position: absolute;
width: 60px;
transform: translate(-50%,0);
}

.social_footer:hover{
opacity: 0.5;
transition: 0.2s;
}

#social_footer_1{left:0%}
#social_footer_2{left:50%}
#social_footer_3{left:100%}


}
/*------------------------------
--------------------------------------------------
------INIZIO SCHERMO GRANDE------------------------------
---------------------------------------*/

@media screen and (min-width: 1024px) {

  .mobile{opacity:0;  }
  #sopra{
  position:fixed;
  height: 5.5em;
  width: 100%;
  background-color: #333333;
  top:0%;
  left:0%;
    animation:opacity 3s;
}

.topnav {
position: absolute;
overflow: hidden;
top:0%;
right:0%;
height:0.1px;
}


#menu{
  opacity: 0}

#logo_barra{
  position:fixed;
  width: 12em;
  left:25%;
  top:3.2em;
  transform: translate(-50%, -50%);
  animation:opacity 3s;
}

.barra{
  opacity: 1;
  position: fixed;
  transform: translate(50%, -50%);
  top: 2.5em;
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;';
  font-weight: 800;
  color:white;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
    animation:opacity 3s;
}

.barra:hover{
  opacity: 0.5;
  transition: 0.2s;
}

.lineetta{
  opacity: 1;
  position: fixed;
  transform: translate(0, -50%);
  top: 3.2em;
  background-color: white;
  height: 35px;
  width: 1px;
}


#social_barra{
  opacity: 1;
  position:fixed;
  width: 2em;
  top:3.2em;
  transform: translate(-50%, -50%);
  animation:opacity 3s;
}

#social_barra:hover{
  opacity: 0.5;
  transition: 0.2s;
}


a{text-decoration: inherit!important;
color:inherit!important;}

#barra_1{
  right:60%;
}

#lineetta_1{
  right:54.5%;
}

#barra_2{
  right:49.5%;
}

#lineetta_2{
  right:44.5%;
}



#barra_4{
  right:29.5%;
}

#lineetta_4{
  right:24.5%;
}


#barra_3{
  right:39.5%;
}

#lineetta_3{
  right:34.5%;
}

.social_barra_1{
  right: 19%;
}

.social_barra_2{
  right: 16.8%;
}

.social_barra_3{
  right: 14.2%;
}


/* Fine barra dei menù */

/* foto centrale */




@keyframes opacity{
  from{opacity:0;}
  to{opacity: 1;}
}

/*Fine foto centrale */



/*grigli */
.griglia_grigio{
position: absolute;
width: 100%;
transform: translate(-50%,0);
left: 50%;
height: 1091px;
background-position: center,center;
top:5.5em;
background-image: url(images/grigio_contatti.png);
background-color: white;
animation: opacity 3s;
}

.mappa{
  position: absolute;
  width:66vw;
  height: 500px;
  transform: translate(-50%,0);
  left:50%;
  top:250px;
}


.griglia{
  position: absolute;
  width: 100%;
  left: 0%;
  height: 500px;
  background-position: center, center;
}

#griglia1{
  top:100px;
}

#griglia2{
  top:740px;
  width: 800px;
  transform: translate(-50%,0);
  left:55%;
}


.testo{
  position: absolute;
  top:70px;
  width: 250px;
  left:0%;
  height: 500px;
}

#testo_2{left:50%;}

.loghetti_box{
position: absolute;
top:70px;
width: 20px;
left: -50px;
height: 420px;
}


#loghetto_piccolo_box1{
position: absolute;
width: 25px;
top:0px;
margin-bottom: 22px;
transform: translate(-50%, 0);
left:50%;}

#loghetto_piccolo_box2{
  position: absolute;
  width: 28px;
  top:125px;
  margin-bottom: 22px;
  transform: translate(-50%, 0);
  left:50%;}

  #loghetto_piccolo_box3{
    position: absolute;
    width: 30px;
    top:65px;
    margin-bottom: 22px;
    transform: translate(-50%, 0);
    left:50%;}



/*footer*/
#footer{
  top:1116px;
  height: 230px;
  background-color: #333333;
}

#testo_footer{
  position: absolute;
  TOP:40PX;
}

#loghetti_footer{
  position: absolute;
  transform: translate(-50%,0);
  left:50%;
  top: 65px;
  width: 150px;
  height: 63px;
}

.social_footer{
  position: absolute;
  width: 50px;
  transform: translate(-50%,0);
}

.social_footer:hover{
  opacity: 0.5;
  transition: 0.2s;
}

#social_footer_1{left:0%}
#social_footer_2{left:50%}
#social_footer_3{left:100%}




/*testo*/


.destra{
  text-align: right;
  right: 0%;
}

.centro{
  text-align: center;
  transform: translate(-50%, 0);
  left: 50%;
}

.lineetta_titolo{
  position: absolute;
  background-color: black;
  top:115px;
  height: 3px;
  width: 330px;
}

.lineetta_testo{
  position: absolute;
  background-color: white;
  top:45px;
  height: 3px;
  width: 230px;
}



/*FONT*/

.bold{font-weight: 1000;}

.white { Color:white;}

.black { Color:black;}

.sfondo_black { background-color:black;}

.source{
      font-family: 'Source Sans Pro', sans-serif;';
      }

.anonymous{
      font-family: 'Anonymous Pro', monospace;}

.line_height_25{
  line-height: 15px;}

.titolo_articolo{
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20pt;}


    .testo_articolo{
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16pt;
  line-height: 26px;}

  .white{
    color:white;
  }

  .menu_font{
    margin-top: 10px;
    margin-bottom: : 15px;
  }
}

/*------------------------------
--------------------------------------------------
------FINE SCHERMO GRANDE------------------------------
---------------------------------------*/
