#ciao{
  position: fixed;
  transform: translate(50%, -50%);
  top: 3.5em;
  font-size: 10pt;
  font-family: 'Arial';
  font-weight: 600;
  color:black;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}
