@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

#sopra{
  position:fixed;
  height: 5.5em;
  width: 100%;
  background-color: #333333;
  top:0%;
  left:0%;
    animation:opacity 3s;
}

#logo_barra{
  position:fixed;
  width: 12em;
  left:25%;
  top:3.2em;
  transform: translate(-50%, -50%);
  animation:opacity 3s;
}

.barra{
  position: fixed;
  transform: translate(50%, -50%);
  top: 2.5em;
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;';
  font-weight: 800;
  color:white;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
    animation:opacity 3s;
}

.barra:hover{
  opacity: 0.5;
  transition: 0.2s;
}

.lineetta{
  position: fixed;
  transform: translate(0, -50%);
  top: 3.2em;
  background-color: white;
  height: 35px;
  width: 1px;
}


#social_barra{
  position:fixed;
  width: 2em;
  top:3.2em;
  transform: translate(-50%, -50%);
  animation:opacity 3s;
}

#social_barra:hover{
  opacity: 0.5;
  transition: 0.2s;
}


a{text-decoration: inherit!important;
color:inherit!important;}

#barra_1{
  right:60%;
}

#lineetta_1{
  right:54.5%;
}

#barra_2{
  right:49.5%;
}

#lineetta_2{
  right:44.5%;
}



#barra_4{
  right:29.5%;
}

#lineetta_4{
  right:24.5%;
}


#barra_3{
  right:39.5%;
}

#lineetta_3{
  right:34.5%;
}

.social_barra_1{
  right: 19%;
}

.social_barra_2{
  right: 16.8%;
}

.social_barra_3{
  right: 14.2%;
}


/* Fine barra dei menù */

/* foto centrale */

#titolo{
  position: absolute;
  top:15em;
  width: 100%;
  height: 25em;
  left:0%;
  background-image: url(images/cover2.jpg);
  background-position: center center;
    animation:opacity 3s;

    /*border: 1pt solid black;*/
}

#logo_piccolo{
  position:absolute;
  width: 20em;
  top: 12.5em;
  left:50%;
  transform: translate(-50%, -50%);
  animation:opacity 3s;
}



@keyframes opacity{
  from{opacity:0;}
  to{opacity: 1;}
}

/*Fine foto centrale */



/*grigli */

.griglia{
  position: absolute;
  width: 100%;
  left: 0%;
  height: 500px;
  background-position: center, center;
}

#griglia1{
  top:740px;
  background-image: url(images/impasto.png);
  background-color: #f1f2f2;
}

#griglia2{
  top:1240px;
  background-image: url(images/pane2.jpg);
  background-color: #f1f2f2;
}

#griglia3{
  top:1740px;
  height: 1200px;
  background-image: url(images/pizze3.png);
  background-color: white;
}

#griglia4{
  top:2150px;
  height: 550px;
}

.box_griglia4{
  position: absolute;
  top:150px;
  height: 350px;
  width: 600px;
  transform: translate(-50%,0);
  left: 50%;
}

.piccolo_box_griglia4{
  position: absolute;
  background-color: #e6e6e6;
  height: 350px;
  width: 260px;
  box-shadow: 4px 7px 7px #333333;
}

#piccolo_box2{
  position: absolute;
  right: 0%;}

#logo_piccolo_box{
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  top:50px;
  height: 30px;
}

#titolo_box{
  position: absolute;
  top:80px;
  transform: translate(-50%,0);
  left: 50%;}

.testo_box{
  position: absolute;
  bottom:0px;
  width: 165px;
  right: 0%;
  height: 200px;
  font-weight: 100;
  line-height: 22px;
  font-size: 14pt;
  text-align: left;
}

.loghetti_box{
  position: absolute;
  bottom:0px;
  width: 20px;
  left: 50px;
  height: 200px;
}

.line_height_25{line-height: 50px;}

#loghetto_piccolo_box1{
  position: absolute;
  width: 20px;
  top:5px;
  margin-bottom: 22px;
transform: translate(-50%, 0);
left:50%;}

  #loghetto_piccolo_box2{
    position: absolute;
    width: 23px;
    top:55px;
    margin-bottom: 22px;
    transform: translate(-50%, 0);
    left:50%;}

    #loghetto_piccolo_box3{
      position: absolute;
      width: 25px;
      top:100px;
      margin-bottom: 22px;
      transform: translate(-50%, 0);
      left:50%;}

/*footer*/
#footer{
  top:2870px;
  height: 230px;
  background-color: #333333;
}

#testo_footer{
  position: absolute;
  TOP:40PX;
}

#loghetti_footer{
  position: absolute;
  transform: translate(-50%,0);
  left:50%;
  top: 65px;
  width: 150px;
  height: 63px;
}

.social_footer{
  position: absolute;
  width: 50px;
  transform: translate(-50%,0);
}

.social_footer:hover{
  opacity: 0.5;
  transition: 0.2s;
}

#social_footer_1{left:0%}
#social_footer_2{left:50%}
#social_footer_3{left:100%}




/*testo*/

.testo{
  position: absolute;
  transform: translate(-50%, 0);
  top:70px;
  width: 800px;
  left: 50%;
  height: 500px;
}

#testo_3{top:100px;}

.destra{
  text-align: right;
  right: 0%;
}

.centro{
  text-align: center;
  transform: translate(-50%, 0);
  left: 50%;
}

.lineetta_testo{
  position: absolute;
  background-color: white;
  top:105px;
  height: 3px;
  width: 430px;
}

.pulsante{
  position: absolute;
  background-color: white;
  top: 280px;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  font-size: 13pt;
}

.pulsante:hover{
background-color: gray;
color:white;
  transition: 0.2s;
}

#pulsante_2{top: 280px;}

#pulsante_3{
  top: 260px;
background-color: black;}

#pulsante_3:hover{
background-color: gray;
color:white;
  transition: 0.2s;
}


/*FONT*/
.white { Color:white;}

.black { Color:black;}

.sfondo_black { background-color:black;}

.source{
      font-family: 'Source Sans Pro', sans-serif;';
      }

.anonymous{
      font-family: 'Anonymous Pro', monospace;}

.titolo_articolo{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20pt;}


    .testo_articolo{
      margin-top: 40px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16pt;
  line-height: 26px;}

  .white{
    color:white;
  }

  .menu_font{
    margin-top: 10px;
    margin-bottom: : 15px;
  }
